
$width: 260px;
$height: 32px;

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

@mixin hexagon-site($height, $color, $n) {
  position: absolute;
  width: 0;
  height: 0;

  border-top: ($height / 2) solid $color;
  border-right: ($height / (2 * sqrt(3)) +0.1) solid transparent;
  border-left: ($height / (2 * sqrt(3)) + 0.1) solid transparent;

  left: ($height / (2 * sqrt(3)));


  -webkit-transform: rotate(#{$n*60}deg);
  -moz-transform: rotate(#{$n*60}deg);
  -ms-transform: rotate(#{$n*60}deg);
  -o-transform: rotate(#{$n*60}deg);
  transform: rotate(#{$n*60}deg);

  transform-origin: bottom center;
}

@mixin hexagon-shadow($height, $color, $n) {
  position: absolute;
  width: 0;
  height: 0;

  border-top: ($height / 2) solid black;
  border-right: ($height / (2 * sqrt(3)) +0.1) solid transparent;
  border-left: ($height / (2 * sqrt(3)) + 0.1) solid transparent;

  left: ($height / (2 * sqrt(3)));


  -webkit-transform: rotate(#{$n*60}deg);
  -moz-transform: rotate(#{$n*60}deg);
  -ms-transform: rotate(#{$n*60}deg);
  -o-transform: rotate(#{$n*60}deg);
  transform: rotate(#{$n*60}deg);

  transform-origin: bottom center;

  box-shadow: 0 -1px 1px black;
}

.hexagon {
  width: ( 2 * $height / sqrt(3));
  height: $height;
  position: relative;
  line-height: $height;

  div {

    &.costText {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1em;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: white;
      line-height: $height;
      position: absolute;
      width: ( 2 * $height / sqrt(3));
      height: 32px;
      z-index: 2;
      text-align: center;
    }

    &:nth-child(2) {
      @include hexagon-shadow($height, #1D88C5, 0);
    }
    &:nth-child(3) {
      @include hexagon-shadow($height, #006BD6, 1);
    }
    &:nth-child(4) {
      @include hexagon-shadow($height, #155CA2, 2);
    }
    &:nth-child(5) {
      @include hexagon-shadow($height, #112860, 3);
    }
    &:nth-child(6) {
      @include hexagon-shadow($height, #143364, 4);
    }
    &:nth-child(7) {
      @include hexagon-shadow($height, #053A6E, 5);
    }


    &:nth-child(8) {
      @include hexagon-site($height, #1D88C5, 0);
    }
    &:nth-child(9) {
      @include hexagon-site($height, #006BD6, 1);
    }
    &:nth-child(10) {
      @include hexagon-site($height, #155CA2, 2);
    }
    &:nth-child(11) {
      @include hexagon-site($height, #112860, 3);
    }
    &:nth-child(12) {
      @include hexagon-site($height, #143364, 4);
    }
    &:nth-child(13) {
      @include hexagon-site($height, #053A6E, 5);
    }

  }
}

.wrapper {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;

  .cardName {
    flex: 1 1 auto;
    margin-left: -(($height / (2 * sqrt(3))));
    padding-left: 15px;

    text-align: left;
    line-height: $height;

    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;

    // background
    background: linear-gradient(
                    to right,
                    #2F2D2E,
                    #2F2D2E 20%,
                    rgba(47, 45, 46, 0) 40%,
                    rgba(47, 45, 46, 0)), url("https://art.hearthstonejson.com/v1/tiles/EX1_277.png");
    background-repeat: no-repeat;
    background-size: ($width - 32 - ( $height * sqrt(3) / 2)) 32px;

    box-shadow: 0 -1px 1px black, 0 1px 1px black;
  }

  .countBadge {
    width: $height;
    height: $height;
    position: relative;
    margin-left: -0.3px;
    background: linear-gradient(#585958, #585958 10%, #272323 70%, #0C0B0C 95%, #0C0B0C);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;


    flex: 0 0 $height;

    text-align: center;
    color: white;
    line-height: $height;
    box-shadow: 0px -1px 1px black, 0 1px 1px black, 1px 0 1px black;

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 32px;
      left: 0;

      background: linear-gradient(#585958, #585958 10%, #272323 70%, #0C0B0C 95%, #0C0B0C);
      transform: skewX(26deg);
      transform-origin: bottom left;
    }

    &:after {
      content: "";
      position: absolute;
      width: 3px;
      height: 32px;
      left: 4px;

      background: linear-gradient(#F5BC3B, #ECE43C, #F5BC3B);
      transform: skewX(26deg);
      transform-origin: bottom left;


    }
  }
}
